.Start {
  /* align-items: center; */
  padding-top: 0%;
  height: 100%;
  background-color: #422800;
}

html,
body {
 /* background-image: url("./images/bg1.png");  */
 background-color: white;
/* background: linear-gradient(90deg, rgba(251,251,150,1) 0%, rgba(235,240,156,1) 50%, rgba(146,247,243,1) 100%);   */
   /* margin-bottom: 0%;  */
}

.start .title {
  position: absolute;
  bottom: 50%;
  top: 1%;
  left: 40%;
  box-sizing: content-box;
  /* background-color: #fffdd0; */
  padding-bottom: 5%;
  padding-top: 5%;
  padding-left: 7.5%;
  padding-right: 7.5%;
  /* border: dashed; */
  font-family: sans-serif;
  font-size: 5em;
  border-radius: 0.3275em;
  /* box-shadow: .625em .625em .625em black; */
  border-color: lightblue;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  background: url(images/back.png);
  -webkit-background-clip: text;
  background-position: 0 0;
  animation: back 20s linear infinite;
}

@keyframes back {
  100% {
    background-position: 2000px 0;
  }
}

.top {
  position: absolute;
  top: 0;
  left: 0;
  width: 1550px;

  
  
}

div.bg {
	height:2000px;
}

.split .top {
  margin-bottom: 0%;
}

.bg {
  position: relative;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 20rem;
}

.logo {
  position: absolute;
  width: 10em;
  height: 10em;
  top: 0em;
  left: 5px;
  bottom: 5em;
}


button {
  background-color: #8080ff;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  position: relative;
  
}

button:hover {
  background-color: #ffe066;
}

button:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

.bottom {
  /* display: flex;
    flex-direction: column; */
  position: absolute;
  bottom: 15%;
  right: 15%;
  
  height:70px;
  width: 200px;

  background-color: transparent;
  display: inline-block;

  /* inlin */
}

.sign-up {
  position: absolute;
  right: 48%;
  bottom: 200%;
  width: 110px;
}

.sign-in {
  position: absolute;
  right: 0%;
  bottom: 75%;
  width: 200px;
}

/* @media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
} */


.start .desc1 {
	position: absolute;
	right: 800px;
	top:350px;
	color:transparent;
	padding-bottom: 1%;
  padding-top: 2%;
  padding-left: 7.5%;
  padding-right: 7.5%;

	background: url(images/wp4288362-aesthetic-laptop-wallpapers.jpg);
	border-color: transparent;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  
  -webkit-background-clip: text;
  background-position: 0 0;
}

.start .desc2 {
	position: absolute;
	right: 900px;
	top:450px;
	color: transparent;
	padding-bottom: 1%;
  padding-top: 2%;
  padding-left: 7.5%;
  padding-right: 7.5%;
  background: url(images/wp4288362-aesthetic-laptop-wallpapers.jpg);
	border-color: transparent;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  
  -webkit-background-clip: text;
  background-position: 0 0;
}

.start .signup {
    position: absolute;
  right: 48%;
  bottom: 200%;
  width: 110px;
  color:#ffe066;
}
